.education{
    margin-top: 300px;
}
.education h4{
    font-size: 1.8rem;
    text-align: center;
}

.timeline-section{
    background-color: #005C73;
    min-height: 100vh;
    padding: 100px 15px;
}
.timeline-items{
    max-width: 1000px;
    margin: auto;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.timeline-items::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 90%;
    background-color: #2f363e;
    left: calc(50% - 1px);
}
.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}
.timeline-item:last-child{
    margin-bottom: 10px;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
    height: 16px;
    width: 16px;
    background-color: #005C73;
    position: absolute ;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}
.timeline-date{
    font-size: 16px;
    color:#2F242C;
    margin: 6px 15px;
}
.timeline-content{
    color: #EEB4B3;
    background-color: #005C73;
    padding: 30px;
    border-radius: 8px;
    margin: 0 15px 0 15px;;

}
.timeline-content h3{
    font-size: 20px;
    color: #E6F4F1;
    margin: 0 0 10px;
    text-transform: capitalize;
    font-weight: 500;
}
.timeline-content p{
    color:#f3eaea;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}
/* respinsive */
@media(max-width:870px){
    .timeline-items::before{
        left: 10px;
    }
    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }
    .timeline-item:nth-child(even),
    .timeline-item:nth-child(odd){
        padding-left: 37px;
    }
    .timeline-dot{
        left:3px;
    }
}